.header {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  width: 100%;
}

.header__logo {
  margin-bottom: 40px;
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin: 28px 0 32px 27px;
  }
}
