.header {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  border-bottom: solid 1px #545454;
  opacity: 70%;
  width: 100%;
}

.header__logo {
  margin-bottom: 40px;
  max-width: 173px;
  max-height: 33px;
}
