.modal {
  position: fixed;
  display: flex;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  color: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 19px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all ease-in 0.3s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
}
.modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: opacity 0.5s ease-in;

  cursor: pointer;
}
.modal__close:hover {
  opacity: 60%;
}

.modal__close-preview {
  position: absolute;
  top: -46px;
  right: -46px;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
  /* display: none; */
}
.modal__close-preview:hover {
  opacity: 60%;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 54px 0 48px 0;
  gap: 30px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 1.2;
}

.modal__button {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 18px 124px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  border-radius: 2px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__container-preview {
  background: transparent;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  position: relative;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.modal__title {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .modal__close {
    right: 0;
    top: -42px;
    width: 26px;
    height: 26px;
  }

  .modal__container {
    padding: 22px;
  }

  .modal__heading {
    font-size: 18px;
  }
  .modal__fieldset {
    margin-top: 75px;
    margin-bottom: 45px;
  }

  .modal__button {
    padding: 14px 100px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .modal__close-preview {
    width: 24px;
    height: 24px;
    right: -27px;
    top: -27px;
  }
}
