.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
}
.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 24px;
  border-radius: 100px;
  background-image: center;
  object-fit: cover;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  grid-gap: 0 25px;
}
.profile__name {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) no-repeat center;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: solid white 1px;
  padding: 7px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 7px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) no-repeat center;
  min-width: 150px;
  min-height: 50px;
  margin-left: auto;
  border: solid white 2px;
  transition: opacity 0.5s ease-in;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 760px) {
  .profile__add-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__image {
    margin: 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }
  .profile__add-button {
    margin: 36px 0;
    min-width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
